

:root{

    --base-pixel: 12px;
}

p{
    display: flex;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
}
*{
    
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-around;
    
    background-color:#fec89a;
}

.amorcito{
    display: flex;
    flex-wrap: wrap;
}

.lalitoo{
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color:orange;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    gap: 300px;

}

.lelo{
    margin-left: 24px;
    margin-right: 24px;
    background-color:#ffe5d9;
    border-radius: 5px;
    border: solid orange;
    font-size: 72px;
    display: flex;
    justify-content: center;
    font-style: italic;
    text-decoration: underline

}

.imagen{
    width: 100%;
}

.momita{
    
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    background-color:#ffe5d9;
    border-radius: 5px;
    border: solid orange;
}

h4{
    padding-left: 12px;
}

ol{
    padding-left: 24px;
}

h1::before{
    content: "⊱";
    color:#ef7b45;
    
}
h1::after{
    content: "⊰";
    color:#ef7b45;
}

.vidamia{
    font-size: 24px; 
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    background-color:#ffe5d9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-style: italic;
    gap:24px;
    border: solid orange;
}

.corazon{
    font-size: 16px; 
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    background-color:#ffe5d9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border: solid orange;
}

.item-1{
    flex-grow: 1;
     background-color: orange;
     padding: 10px;
}

.item-2{
    flex-grow: 2;
     background-color:#ffe5d9;
     padding: 10px;
}

footer{
    margin-top: 24px;
}